<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./consumeTripService.js"></script>
</head>
<body>
    <div id="tripZone" class="tripZone">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive text-center">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Aerolínea</th>
                                <th>Ruta</th>
                                <th>Fecha de Salida</th>
                                <th>Fecha de Retorno</th>
                                <th>Adultos</th>
                                <th>Niños</th>
                                <th>Costo Adultos</th>
                                <th>Costo Niños</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>